In [26]:
import pandas as pd

In [27]:
df = pd.read_excel('FED PAT COBROS.xlsx', sheet_name='FP COBROS')

In [28]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11001 entries, 0 to 11000
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    11001 non-null  object
 1   Fec. Ing.             11001 non-null  object
 2   Ingreso               11001 non-null  int64
 3   Fec. Cobro            11001 non-null  object
 4   Asegurado             11001 non-null  object
 5   Cuota                 11001 non-null  object
 6   Recibo                11000 non-null  float64
 7   Póliza                11001 non-null  object
 8   Compañía              11001 non-null  object
 9   Mon.                  11001 non-null  object
 10  Mto. Pagado           11001 non-null  float64
 11  Origen                11001 non-null  object
 12  Cobrador              11001 non-null  int64
 13  Numero De Referencia  10841 non-null  float64
dtypes: float64(3), int64(2), object(9)
memory usage: 1.2+ MB
None

In [29]:
print('Detalle de Nulos:')
print(df.isnull().sum())

Detalle de Nulos:
ID                        0
Fec. Ing.                 0
Ingreso                   0
Fec. Cobro                0
Asegurado                 0
Cuota                     0
Recibo                    1
Póliza                    0
Compañía                  0
Mon.                      0
Mto. Pagado               0
Origen                    0
Cobrador                  0
Numero De Referencia    160
dtype: int64

In [30]:
print(df.describe())

            Ingreso        Recibo    Mto. Pagado      Cobrador  \
count  1.100100e+04  1.100000e+04   11001.000000  11001.000000
mean   1.688660e+07  7.529566e+12    4734.062164      0.513317
std    7.538783e+05  1.048155e+14   14085.033470     17.024860
min    1.579043e+07  2.233376e+08       7.700000      0.000000
25%    1.629453e+07  1.283626e+10     134.000000      0.000000
50%    1.691711e+07  4.297317e+10     319.000000      0.000000
75%    1.765874e+07  1.922695e+11    3005.000000      0.000000
max    1.802115e+07  1.922929e+15  359040.560000    717.000000

       Numero De Referencia
count          1.084100e+04
mean           2.806187e+07
std            2.770460e+06
min            2.338599e+07
25%            2.550720e+07
50%            2.823136e+07
75%            3.056592e+07
max            3.312646e+07

In [31]:
print('Cantidad de nulos:')
print(df.isnull().sum())

Cantidad de nulos:
ID                        0
Fec. Ing.                 0
Ingreso                   0
Fec. Cobro                0
Asegurado                 0
Cuota                     0
Recibo                    1
Póliza                    0
Compañía                  0
Mon.                      0
Mto. Pagado               0
Origen                    0
Cobrador                  0
Numero De Referencia    160
dtype: int64

In [32]:
from sklearn.impute import SimpleImputer
import numpy as np

In [33]:
cobros_por_origen = df.groupby('Origen')['Mto. Pagado'].sum()

print(cobros_por_origen)

Origen
CAJA SELF PRODUCTORES                87893.27
CAJA WEB ASEGURADOS                  18398.84
COBRO EXPRESS ONLINE                  9937.00
COBRO EXPRESS PRODUCTOR ONLINE      386705.39
DEB AUT AMEX                         66954.62
DEB AUT CBU                         433229.25
DEB AUT MASTERCARD                   79844.46
DEB AUT NARANJA                      11836.46
DEB AUT VISA                        911119.42
DEBITO AUTOMATICO                  1016439.17
MOSTRADOR WEB                        54926.76
PAGO FACIL OFFLINE (AJUSTE)          14333.44
PAGO FACIL ONLINE                 17483289.22
PAGO MIS CUENTAS                   2759518.24
PAGOS LINK                        14059453.67
PLUSPAGOS ONLINE                      2388.23
PRISMA -VISA DEBITO-                 73347.80
PRODUCTOR                             2708.00
PRONTO PAGO ONLINE                    1727.11
PROVINCIA NET ONLINE                 67592.57
RAPIPAGO OFF LINE                     9089.87
RAPIPAGO ONLINE                   14526826.86
VISA PAGO PUNTUAL                     1858.22
Name: Mto. Pagado, dtype: float64

In [34]:
print(df[['Mto. Pagado']].sum())

Mto. Pagado    52079417.87
dtype: float64

In [35]:
print(df[['Mto. Pagado']].median())

Mto. Pagado    319.0
dtype: float64

In [36]:
print(df.groupby('Mto. Pagado').size())

Mto. Pagado
7.70         1
8.02         1
16.14        1
23.00        1
24.50        1
            ..
251443.16    1
287596.88    1
332225.75    1
356618.69    1
359040.56    1
Length: 3206, dtype: int64

In [37]:
filtro_VISA = df[df['Origen'].str.contains('VISA', case=False)]

print(filtro_VISA)

        ID   Fec. Ing.   Ingreso  Fec. Cobro                   Asegurado  \
1723  1250  21/01/2020  15812590  19/01/2020      RICCA FACUNDO HORACIO
1725  1250  21/01/2020  15812590  19/01/2020      RICCA FACUNDO HORACIO
1726  1250  21/01/2020  15812590  19/01/2020      RICCA FACUNDO HORACIO
2263  1845  05/01/2021  16292184  04/01/2021  DE NIGRIS CLAUDIO ALEJAND
2274   117  05/01/2021  16292184  04/01/2021              AVILA GELACIO
...    ...         ...       ...         ...                         ...
4971  1049  10/03/2022  16842774  08/03/2022         MUZI MARIA EUGENIA
4979  1049  10/03/2022  16842774  08/03/2022         MUZI MARIA EUGENIA
4986  1049  10/03/2022  16842774  08/03/2022         MUZI MARIA EUGENIA
5055   350  17/03/2022  16852543  15/03/2022        CHENA JULIAN BENITO
5059   350  17/03/2022  16852543  15/03/2022        CHENA JULIAN BENITO

           Cuota        Recibo         Póliza                     Compañía  \
1723    Cta.3/12  1.921176e+11  19/21176368/0  726 Fed.Patronal Seguros SA
1725    Cta.3/12  1.257390e+10   12/5739008/0  726 Fed.Patronal Seguros SA
1726     Cta.3/6  4.257013e+10   4/25701340/0  726 Fed.Patronal Seguros SA
2263    Cta.2/12  1.262572e+10   12/6257188/0  726 Fed.Patronal Seguros SA
2274    Cta.1/12  1.921820e+11  19/21820117/0  726 Fed.Patronal Seguros SA
...          ...           ...            ...                          ...
4971   Cta.12/12  1.923231e+12  19/23231378/0  726 Fed.Patronal Seguros SA
4979   Cta.12/12  1.264249e+11   12/6424924/0  726 Fed.Patronal Seguros SA
4986     Cta.4/4  4.274559e+10   4/27455889/0  726 Fed.Patronal Seguros SA
5055    Cta.2/12  1.269427e+10   12/6942678/0  726 Fed.Patronal Seguros SA
5059     Cta.2/4  4.286457e+10   4/28645683/0  726 Fed.Patronal Seguros SA

     Mon.  Mto. Pagado                Origen  Cobrador  Numero De Referencia
1723    $        35.00  PRISMA -VISA DEBITO-         0            24739981.0
1725    $       134.00  PRISMA -VISA DEBITO-         0            24739981.0
1726    $      2174.00  PRISMA -VISA DEBITO-         0            24739981.0
2263    $        26.00          DEB AUT VISA         0            26420694.0
2274    $        33.25          DEB AUT VISA         0            25423644.0
...   ...          ...                   ...       ...                   ...
4971    $        65.01  PRISMA -VISA DEBITO-         0            26941606.0
4979    $       133.06  PRISMA -VISA DEBITO-         0            26941606.0
4986    $      2268.60  PRISMA -VISA DEBITO-         0            26941606.0
5055    $       319.00  PRISMA -VISA DEBITO-         0            28464482.0
5059    $      4323.00  PRISMA -VISA DEBITO-         0            28464482.0

[761 rows x 14 columns]

In [38]:
monto_total_VISA = filtro_VISA['Mto. Pagado'].sum()
print("Monto total de cobros con VISA:", monto_total_VISA)

Monto total de cobros con VISA: 986325.44

In [42]:
print(df.groupby('Origen')[['Mto. Pagado','Numero De Referencia']].max())

                                Mto. Pagado  Numero De Referencia
Origen
CAJA SELF PRODUCTORES               7814.70            26615052.0
CAJA WEB ASEGURADOS                 3090.00            26455225.0
COBRO EXPRESS ONLINE                4804.00            26049822.0
COBRO EXPRESS PRODUCTOR ONLINE      9554.00            26652980.0
DEB AUT AMEX                        5737.97            26520567.0
DEB AUT CBU                        36443.00            26616701.0
DEB AUT MASTERCARD                  7840.80            26618327.0
DEB AUT NARANJA                     4150.55            26088768.0
DEB AUT VISA                       20547.00            26626970.0
DEBITO AUTOMATICO                  33020.00            24998649.0
MOSTRADOR WEB                       4431.56            26409510.0
PAGO FACIL OFFLINE (AJUSTE)         5261.10            26133743.0
PAGO FACIL ONLINE                 356618.69            32572576.0
PAGO MIS CUENTAS                   33999.00            28917907.0
PAGOS LINK                        359040.56            33065265.0
PLUSPAGOS ONLINE                    2219.23            24162698.0
PRISMA -VISA DEBITO-                9441.00            28464482.0
PRODUCTOR                           2538.82            25136760.0
PRONTO PAGO ONLINE                  1565.61            25971509.0
PROVINCIA NET ONLINE                6948.00            26548633.0
RAPIPAGO OFF LINE                   3591.96            25975387.0
RAPIPAGO ONLINE                   251443.16            33126461.0
VISA PAGO PUNTUAL                   1696.72            25823966.0

In [44]:
bins = [0,134,319,3005,float('inf')]
labels = ['Cuota baja','Cuota media','Cuota alta','Cuota muy alta']
df['Cuota_Agrupada'] = pd.cut(df['Mto. Pagado'], 
                             bins = bins, 
                             labels = labels, 
                             right = False)

In [47]:
df.head()

,ID,Fec. Ing.,Ingreso,Fec. Cobro,Asegurado,Cuota,Recibo,Póliza,Compañía,Mon.,Mto. Pagado,Origen,Cobrador,Numero De Referencia,Cuota_Agrupada
0,292,02/01/2020,15791132,02/01/2020,CARDOSO JORGE LUIS,Cta.10/12,1.920114e+12,19/20113509/0,726 Fed.Patronal Seguros SA,$,25.0,MOSTRADOR WEB,0,23612280.0,Cuota baja
1,411,02/01/2020,15790434,02/01/2020,CULIAT LUCAS MATIAS,Cta.12/12,1.919974e+12,19/19973801/0,726 Fed.Patronal Seguros SA,$,25.0,RAPIPAGO ONLINE,0,23464223.0,Cuota baja
2,1473,02/01/2020,15790429,02/01/2020,VALDIVIEZO JORGE FERNANDO,Cta.12/12,1.919961e+12,19/19961396/0,726 Fed.Patronal Seguros SA,$,25.0,PAGO FACIL ONLINE,0,23451026.0,Cuota baja
3,1601,02/01/2020,15790434,02/01/2020,BURGOS RAMON EDUARDO,Cta.10/12,1.920194e+12,19/20193608/0,726 Fed.Patronal Seguros SA,$,25.0,RAPIPAGO ONLINE,0,23697050.0,Cuota baja
4,2636,02/01/2020,15790434,02/01/2020,MARTINEZ LUIS ALBERTO,Cta.12/12,1.919988e+12,19/19987571/0,726 Fed.Patronal Seguros SA,$,25.0,RAPIPAGO ONLINE,0,23478749.0,Cuota baja

In [48]:
df['Cuota_Agrupada'].value_counts()

Cuota_Agrupada
Cuota alta        2965
Cuota muy alta    2755
Cuota media       2662
Cuota baja        2619
Name: count, dtype: int64